# AstraDB Configuration
# Secure Connect Bundle is NOT needed if using API Endpoint
ASTRA_DB_API_ENDPOINT="https://<YOUR_ASTRA_DB_ID>-us-east1.apps.astra.datastax.com"
ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."
NVIDIA_API_KEY="nvapi-..."

# Hugging Face Token
# Required for gated models like Gemma
HF_TOKEN="hf_..."
